body {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5); /* White background with 80% opacity */
    background-blend-mode: lighten; /* Blend the background image with the white color */
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Make the card background transparent */
    border: 2px solid gold; /* Add a yellow border around the cards */
}


#page-title {
    color: gold;
    text-shadow: 2px -2px 2px grey;
    font-size: 3.5rem;
}

#search-button:hover {
    background-color: gold;
    color: black;
}

#search-button {
   border: none;
}

/* Media query for laptop with screen size 768x1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}
